<!DOCTYPE html>
<html>
<body>
<h1>{{title}}</h1>
<div>Please enter a CAS number: </div><br>
<form action="/action_page.php">
    <label for="fname">CAS number: </label>
    <input type="text" id="casFirst" name="casFirst" maxlength = "6"> - 
    <input type="text" id="casMiddle" name="casMiddle" maxlength = "2"> - 
    <input type="text" id="casLast" name="casLast" maxlength = "1"><br><br>
    <a routerLink="/homepage-component"><input type="submit" (click)="clickme()" value="Submit"></a>
    <br><br>
    <div id="table-render" *ngIf="display">
      <app-homepage [CAS]="CAS"></app-homepage>
  </div>
  </form>
</body>
</html>
